general:
  seed: 10
  backbone_name: "google/vit-base-patch16-224" # or None for random initialization


optimizer:
  # Optimizer settings
  lr: 0.01
  lr_gamma: 0.9
  optimizer_str: "sgd"
  batch_size_per_device: 64

  # Replicator settings
  replicate_every: 2
  skip_every: 0
  shards: 2
  repl: "deto-demo"
  # Demo
  compression_topk: 16
  compression_chunk: 64
  # Random
  compression_rate: None
  
  
