defaults:
  # - override hydra/sweeper: SMAC
  - override hydra/launcher: submitit_slurm

name: "${general.dataset_name}-${general.backbone_name}-GP-DeMo"
description: "Classification on ${general.dataset_name} using ${general.backbone_name} model"
general:
  seed: 10
  backbone_name: "google/vit-base-patch16-224" 
  wandb_project: "ViTRA"
  experiment_name: ${name}
  log_offline: true
  task: "classification"
  data_dir: "${hydra:runtime.cwd}/data"
  dataset_name: "SBDataset"
  num_classes: 20
  log_model_wandb: false
  log_images_wandb: false


optimizer:
  # Optimizer settings
  lr: 1e-5
  lr_power: 0.9
  momentum: 0.9
  optimizer_str: "sgd"
  batch_size_per_device: 64
  warmup_epochs: 5
  epochs: 30

  # Replicator settings
  replicate_every: 1
  skip_every: null
  shards: 1
  repl: "deto-demo"
  # Demo
  compression_topk: 32
  compression_chunk: 64

  compression_rate: 0.5
  compression_chunk_factor: 6

distributed:
  nproc_per_node: 1
  nnodes: 2
  node_rank: 0
  master_addr: 10.42.22.19
  master_port: 29501
  standalone: false # Setze auf false, wenn nnodes > 1

hhydra:
  launcher:
    partition: CLOUD
    gpus_per_node: ${distributed.nproc_per_node}
    tasks_per_node: ${distributed.nproc_per_node}
    nodes: ${distributed.nnodes}
    timeout_min: 45
  sweeper:
    params:
      optimizer.compression_topk: 32
    

# hydra:
#   sweeper:
#     smac_class: smac.facade.blackbox_facade.BlackBoxFacade
#     smac_kwargs:
#       dask_client: null
#     scenario:
#       name: "vitra_classification_sweep"
#       seed: 10
#       n_trials: 75         
#       deterministic: false 
#       n_workers: 1
#       # SMAC treats these as costs to MINIMIZE.
#       objectives: ["classification_error", "aulc_error", "avg_epoch_time"]
#     search_space:
#       hyperparameters:
#         optimizer.lr:
#           type: uniform_float
#           lower: 5e-6
#           upper: 5e-4
#           log: true
#           default_value: ${optimizer.lr}
#         optimizer.compression_rate:
#           type: uniform_float
#           lower: 0.01
#           upper: 1.0
#           log: false
#           default_value: ${optimizer.compression_rate}
#         # TODO: Categorical seems not to work
#         optimizer.compression_chunk_factor:
#           type: uniform_int
#           lower: 4
#           upper: 9
#           log: false
#           default_value: ${optimizer.compression_chunk_factor}
#           # type: categorical
#           # choices: [16, 32, 64, 128, 256, 512]
#           # default_value: ${optimizer.compression_chunk}
#         optimizer.momentum:
#           type: uniform_float
#           lower: 0.85
#           upper: 0.999
#           log: false
#           default_value: ${optimizer.momentum}

  
  
