defaults:
  - override hydra/launcher: submitit_slurm

name: "${general.task}-${general.dataset_name}-${optimizer.repl}-${optimizer.compression_factor}"
description: "Semantic Segmentation on ${general.dataset_name} using ${general.backbone_name} model"
seed: 10
general:
  seed: ${seed}
  image_size: 224
  backbone_name: "google/vit-base-patch16-${general.image_size}" 
  wandb_project: "ViTRA"
  experiment_name: ${name}
  log_offline: true
  task: "segmentation"
  data_dir: "${hydra:runtime.cwd}/data/VOCSB/"
  dataset_name: "SBDataset"
  num_classes: 21
  log_model_wandb: false
  log_images_wandb: false

optimizer:
  # Optimizer settings
  lr: 1e-5
  lr_head: 1e-4
  lr_power: 0.9
  momentum: 0.9
  optimizer_str: "sgd"
  batch_size_per_device: 64
  warmup_epochs: 5
  epochs: 15

  # Replicator settings
  replicate_every: 1
  skip_every: null
  shards: 1
  repl: "deto-demo"
  sign: true
  # Replicator Compression settings
  compression_topk: 32
  compression_chunk: 64
  compression_rate: 0.5
  # General sweep compression
  compression_factor: 8

distributed:
  nproc_per_node: 1
  nnodes: 2
  node_rank: 0
  master_addr: 10.42.22.19
  master_port: 27501
  standalone: false 


hydra:
  launcher:
    partition: CLOUD
    gpus_per_node: ${distributed.nproc_per_node}
    tasks_per_node: ${distributed.nproc_per_node}
    nodes: ${distributed.nnodes}
    timeout_min: 45
  sweeper:
      params:
        optimizer.compression_factor: 1,2,4,8,16,32
        optimizer.repl: deto-demo, deto-random, deto-full
        general.seed: 10,20,30,40,50,60,70,80,90,100