name: PASCAL-VOC-2012-ViT-B-Pretrained
description: Semantic Segmentation on PASCAL VOC 2012 using pretrained ViT-B model
general:
  seed: 10
  backbone_name: "google/vit-base-patch16-384" # or None for random initialization
  wandb_project: "ViTRA"
  experiment_name: ${name}
  task: "segmentation"
  data_dir: "${hydra:runtime.cwd}/data"

optimizer:
  # Optimizer settings
  lr: 1e-5
  lr_power: 0.9
  lr_factor: 10
  momentum: 0.9
  optimizer_str: "sgd"
  batch_size_per_device: 32
  warmup_epochs: 5
  epochs: 35

  # Replicator settings
  replicate_every: 1
  skip_every: null
  shards: 2
  repl: "deto-demo"
  # Demo
  compression_topk: 16
  compression_chunk: 64
  # Random
  compression_rate: None

distributed:
  nproc_per_node: 2
  nnodes: 1
  node_rank: 0
  master_addr: "localhost"
  master_port: 29500
  standalone: true # Setze auf false, wenn nnodes > 1

adversarial:
  enabled: true
  epsilon: 0.00784 # 2/255
  steps: 50       
  loss: "mask-ce-bal" # oder "js-avg"
  n_restarts: 1
  
  
